:root {
  --prime: #1F98AD;
  --prime-text: #097D91;


  --gray: #9A9C9E;
  --gray-1: #EDF7F9;
  --lh-gray: #E9EBEF;
  --black: #333333;
  --white: #ffffff;

  --main-bg: #E3EBEE;
  --disabled: #C6C6C6;

  --hover: #F5F5F5;

  --duration: 350ms;

  --icon-gray: #8F8F8F;
}
